<div class="advertisement pt-3 d-none d-sm-block" id="advertisement">
    <div class="row">
        <div class="col">
            <div class="card mb-4"> <img src="https://via.placeholder.com/300x250?text=300x250+AD" class="card-img-top" alt="Placeholder Ad"> </div>
            <div class="card mb-4"> <img src="https://via.placeholder.com/300x250?text=300x250+AD" class="card-img-top" alt="Placeholder Ad"> </div>
            <div class="card mb-4"> <img src="https://via.placeholder.com/300x250?text=300x250+AD" class="card-img-top" alt="Placeholder Ad"> </div>
        </div>
    </div>
</div>

@code {

}
