<div class="advertisement pt-3 d-none d-sm-block" id="advertisement">
    <div class="row">
        <div class="col">
            <div class="mb-4"> <img class="img-fluid" src="ad-images/ymca.gif" alt="The YMCA" /> </div>
        </div>
    </div>
</div>

@code {

}