<div class="advertisement pt-3 d-none d-sm-block" id="advertisement">
    <div class="row">
        <div class="col">
            <div class="mb-4">  <a href="https://ymcacentralflorida.com/" target="_blank"><img class="img-fluid" src="ad-images/ymca.gif" alt="The YMCA" border="0" /></a> </div>
            <div class="mb-4"> <a href="https://www.avaloninnovationclub.com/" target="_blank">img class="img-fluid" src="ad-images/aic-300x250.jpg" alt="Avalon Innovation Club" /></a> </div>
        </div>
    </div>
</div>

@code {

}