<div class="advertisement pt-3 d-none d-sm-block" id="advertisement">
    <div class="row">
        <div class="col">
            <div class="mb-4"> <img class="img-fluid" src="ad-images/dtapo.gif" alt="Avalon Park Downtown East" /> </div>
            <div class="mb-4"> <img class="img-fluid" src="ad-images/Advent-Health-Sponsor-Post.gif" alt="Advent Health" /> </div>
        </div>
    </div>
</div>

@code {

}
