<div class="advertisement pt-3 d-none d-sm-block" id="advertisement">
    <div class="row">
        <div class="col">
            <div class="mb-4">  <a href="https://downtownavalonpark.com/" target="_blank"><img class="img-fluid" src="ad-images/dtapo.gif" alt="Avalon Park Downtown East Orlando" border="0" /></a> </div>
            <div class="mb-4"> <a htref="https://www.adventhealth.com/" target="_blank"><img class="img-fluid" src="ad-images/Advent-Health-Sponsor-Post.gif" alt="Advent Health" border="0" /></a> </div>
        </div>
    </div>
</div>

@code {

}
