@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light static-top">
        <div class="container text-center">
            <a class="navbar-brand justify-content-between" href="#"><img src="images/apg-walkapp-logo.png" class="img-fluid" alt="Avalon Park Group" border="0"></a>
        </div>
    </nav>
    <div class="container-fluid">
        @Body
    </div>
</div>