<style>

    #cycler {
        position: relative;
    }

        #cycler img {
            position: absolute;
            z-index: 1
        }

            #cycler img.active {
                z-index: 3
            }
</style>

<div class="mobile-advertisement text-center d-block d-sm-none" id="mobile-advertisement">
    <div id="cycler">
        <img class="active" src="ad-images/fpoad-a.gif" alt="test a" />
        <img src="ad-images/fpoad-b.gif" alt="test b" />
        <img src="ad-images/fpoad-c.gif" alt="test c" />
    </div>
</div>


@code {

}
