<style>


    #cycler {
        position: relative;
    }

        #cycler div {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

            #cycler div.active {
                z-index: 3;
            }

        #cycler img {
            display: block;
        }
</style>

<div class="mobile-advertisement text-center d-block d-sm-none" id="mobile-advertisement">
    <div id="cycler">
        <div class="active"><a href="https://downtownavalonpark.com/" target="_blank"><img src="ad-images/dtapo-320x50.gif" alt="Avalon Park Downtown East Orlando" border="0" /></a></div>
        <div><a href="https://www.adventhealth.com/" target="_blank"><img src="ad-images/Advent-Health-320x250.gif" alt="Advent Health" border="0" /></a></div>
        <div><a href="https://ymcacentralflorida.com/" target="_blank"><img src="ad-images/ymca-320x50.gif" alt="The YMCA Central Florida" border="0" /></a></div>
        <div><img src="ad-images/aic-320x50.gif" alt="Avalon Innovation Club" /></div>
    </div>
</div>

@code {

}
