<style>




    #cycler {
        position: relative;
    }

        #cycler img {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

            #cycler img.active {
                z-index: 3
            }
</style>

<div class="mobile-advertisement text-center d-block d-sm-none" id="mobile-advertisement">
    <div id="cycler">
        <img class="active" src="ad-images/dtapo-320x50.gif" alt="Avalon Park Downtown East Orlando" />
        <img src="ad-images/Advent-Health-320x250.gif" alt="Advent Health" />
        <img src="ad-images/ymca-320x50.gif" alt="The YMCA" />
    </div>
</div>


@code {

}
