@page "/Privacy"

<h3>Privacy Policy</h3>

<p>
    At Avalon Park Group we respect your privacy. This privacy policy explains how Avalon Park Group, through its website or app, may collect, use, and share information about you. Since this policy may change over time as we modify or expand our services, we suggest that you check from time to time in order to understand how we treat your personal information. Your use of this website and its services constitute your agreement to Avalon Park Group using information about you in accordance with this privacy policy.
</p>

<ol type="I">
    <li>
        What information do we collect?
        <p>
            Currently, https://fitnessleaderboard.azurewebsites.net/ gathers information from you (such as name, e-mail address, business and/or home address, zip code, and fitness information) strictly for identification purposes when users register for our fitness leader board. In some cases we ask for other optional information including additional contact information and certain demographic information (such as phone number and gender).
        </p>
    </li>
    <li>
        How do we use your information?
        <p>
            We may use your information for purposes, including, to provide and service your Avalon Park Group membership, to provide member support, to provide and service the Avalon Park Group website and app, to communicate special offers, promotions and information about our company to you via email and/or via text message, and to compile usage statistics and other data regarding the use of the Web site services.
        </p>
    </li>
    <li>
        How do we use your email information?
        <p>
            At Avalon Park Group we respect your concerns about privacy. We collect email information to provide a more personalized and relevant experience. If you give us your email address when you register, we will send you emails about exclusive offers, news at Avalon Park Group and community news.  Avalon Park Group may use any of your contact information held on file (including Email, Mailing, Phone & Fax) to communicate with you in relation to day to day administrative activities.
        </p>
    </li>
    <li>
        How do we use your phone number?
        <p>
            If you provide your mobile telephone number you are providing consent to receive SMS text alerts from Avalon Park Group and you confirm that you are the customary user of the phone number submitted. Text alerts may be sent using an automated dialing system. Your consent is not a condition of purchasing any goods or services, and may be revoked at any time, including by responding STOP to any SMS text alert you receive. Message and data rates may apply.
        </p>
    </li>
    <li>
        How we share your information:
        <p>
            We may share your information in the following ways:
            With third-party vendors: We employ other companies and individuals to perform functions on our behalf. We may disclose your information to third parties for the following purposes, improve the functionality of our site, perform statistical and data analyses and deliver promotional emails to you from us, removing repetitive information from customer lists, providing marketing assistance and targeted advertising, and providing customer service.

            We share the following categories of information about you for a business purpose:
            •Identifiers; and
            •Internet or other electronic network activity information.

            For legal reasons and to protect Avalon Park Group: We may release account and other personal information when we believe release is necessary to comply with law; enforce or apply our Terms of Use and other agreements; or protect the rights, property, or safety of Avalon Park Group, LLC, our users, or others. This includes exchanging information with other companies and organizations for fraud protection.
        </p>
    </li>
    <li>
        Do we use cookies?
        <p>
            We use cookies to enhance your experience on our web site. For example, a cookie enables us to remember the region or specific club page you have visited so the next time you return to our site you do not have to select that club or region again. You can set your Internet browser (like Chrome, Firefox, Safari or Internet Explorer) to warn you every time a cookie is sent, or to turn off all cookies. See your browser's Help menu for these instructions. By disabling your cookies you will not have access to some of the features that enhance your user experience on our site.
        </p>
    </li>
    <li>
        How do we protect children on our web site?
        <p>
            We are committed to making a safe environment for children on our site. When we collect information for membership inquiry purposes, users are informed they must be at least 18 years of age or have parental consent to provide personally identifying information to us. We encourage parents to monitor children's Internet use to keep them safe while navigating https://fitnessleaderboard.azurewebsites.net/  and all other areas of the Internet.
        </p>
    </li>
    <li>
        Does this Privacy Policy apply to external links found on this Web site?
        <p>
            While this site may contain links to other sites, please note that when you click on one of these links, you are 'clicking' away from https://fitnessleaderboard.azurewebsites.net/ to another Web site. We encourage you to read the privacy statements of these linked sites as their privacy policies may differ from ours. We are not responsible for the privacy practices or the content of such Web sites.
        </p>
    </li>
    <li>
        X. How can you contact Avalon Park Group?
        <p>
            If you have questions regarding our Privacy Policy, other areas of our Web site or our clubs, please contact us here. Or you may contact us via email at info@avalonparkgroup.com or via mail at Avalon Park Group, 3680 Avalon Park Blvd #300, Orlando, FL 32828.  Your feedback is always welcome and appreciated
        </p>
    </li>
</ol>

<a href="/UserProfile" class="btn btn-link">Back to User Profile</a>

@code {

}
