<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="h4 my-2">Profile</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">
        <!-- Left ad block visible on tablets and up -->
        <AdBlockA />
        <!-- end left ad block -->
    </div>
    <div class="col-sm-4 offset-sm-1">
        <div class="user-profile">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <label for="steps">Steps Taken</label>
                    <input type="password" class="form-control" name="steps" placeholder="Enter Steps" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3 offset-sm-1">
        <!-- Right ad block visible on tablets and up -->
        <AdBlockA />
        <!-- end right ad block-->
        <div class="mobile-advertisement text-center d-block d-sm-none" id="mobile-advertisement"> <img src="https://via.placeholder.com/320x50?text=320x50+AD" alt="Placeholder Ad"> </div>
    </div>
</div>